<{{ htmlElement|default:"div" }} class="tna-card {{ classes }}" {% for attribute, value in attributes.items %} {{ attribute }}="{{ value }}"{% endfor %}>
    <hgroup class="tna-card__heading tna-hgroup">
    {% if supertitle %}
        <p class="tna-card__supertitle tna-hgroup__supertitle">{{ supertitle }}</p>
    {% endif %}
        <h1 class="tna-card__title tna-hgroup__title">
        {% if href %}
            <a href="{{ href }}" class="tna-card__title-link">{{ title }}</a>
        {% else %}
            {{ title }}
        {% endif %}
        </h1>
    </hgroup>
    {% if image %}
    <img src="{{ image.src }}" alt="{{ image.alt }}" class="tna-card__image" />
    {% endif %}
    <div class="tna-card__body">
    {% if text %}
        <p>{{ text }}</p>
    {% else %}
        {{ body | safe }}
    {% endif %}
    </div>
    {% if actions %}
    <div class="tna-card__actions">
    {% for item in actions %}
        <a href="{{ item.href }}" class="tna-card__action tna-button" {% if item.title %}title="{{ item.title }}"{% endif %}>{{ item.text }}</a>
    {% endfor %}
    </div>
    {% endif %}
</{{ htmlElement|default:"div" }}>