<div class="tna-phase-banner {{ params.classes }} tna-phase-banner--{{ params.phase | lower }}" {% for attribute, value in params.attributes.items %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="tna-container">
    <div class="tna-column">
      <span class="tna-phase-banner__phase">
        {{ params.phase | lower | capfirst }}
      </span>
    </div>
    <div class="tna-column">
      <p class="tna-phase-banner__message">
        {{ params.message | safe }}
      </p>
    </div>
  </div>
</div>